@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body{
    background-color: black;
}

#gradient{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2% 5%;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 35px;
    color: #200248;
    background-image: url(mesh1.png);
    background-size: 500%;
    background-position: left;
    border-radius: 50px;
    transition: all 0.6s ease-in;
    transition: background-position color 1s;
}

#gradient:hover, #gradient focus{
    background-position: right;
    color: white;
}

